@import "src/styles/assets/mixin.scss";

.headerLogo {
  font-family: "Rakkas";
  color: white;
  font-size: 20px;
}
.headerIcon {
  @include flexContent(
    $fDirection: row,
    $aItems: center,
    $jContent: center,
    $fWrap: nowrap
  );
  width: 100%;
  > svg {
    height: 50px;
    width: 50px;
  }
}
.dropdownWrapper {
  cursor: pointer;
}
.downArrow {
  padding-left: 10px;
  color: white;
  position: absolute;
  right: 25px;
}

.signInButton {
  @include flexContent(
    $fDirection: row,
    $aItems: center,
    $jContent: center,
    $fWrap: nowrap
  );
  position: relative;
  width: 100px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
  animation: animate 8s linear infinite;
  :before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
  }

  :hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
