@import "src/styles/assets/mixin.scss";

.cardListWrapper {
  @include flexContent(
    $fDirection: column,
    $aItems: center,
    $jContent: center,
    $fWrap: nowrap
  );
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  .cardListHeader {
    @include flexContent(
      $fDirection: column,
      $aItems: space-between,
      $jContent: center,
      $fWrap: nowrap
    );
    height: 80px;
    width: 100%;
    background-color: green;
    .cardListNameWrapper {
      width: 20px;
      height: 30px;
      background-color: red;
      width: 100%;
      .cardListNameText {
        font-family: "Roboto";
        font-weight: 700;
        color: white;
      }
    }
  }
  .cardListMain {
    @include flexContent(
      $fDirection: row,
      $aItems: flex-start,
      $jContent: flex-start,
      $fWrap: nowrap
    );
    overflow-x: auto;
    padding: 20px 10px;
    height: 100%;
    width: 100%;
    background-color: blue;
  }
  .cardListFooter {
    height: 20px;
    width: 100%;
    background-color: blueviolet;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
  }
  ::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: #7c89fc;
  }
}
