@import "src/styles/assets/mixin.scss";

.cardListWrapper {
  @include flexContent(
    $fDirection: column,
    $aItems: center,
    $jContent: center,
    $fWrap: nowrap
  );
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
    45deg,
    rgba(103, 0, 31, 0.8),
    rgba(34, 101, 163, 0.5)
  );
  background-repeat: no-repeat;
  background-size: cover;
  .cardListHeader {
    @include flexContent(
      $fDirection: column,
      $aItems: space-between,
      $jContent: center,
      $fWrap: nowrap
    );
    height: 80px;
    width: 100%;

    .cardListNameWrapper {
      height: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      .cardListNameText {
        padding-left: 50px;
        font-family: "Roboto";
        font-weight: 700;
        color: white;
      }
    }
  }
  .cardListMain {
    @include flexContent(
      $fDirection: row,
      $aItems: flex-start,
      $jContent: flex-start,
      $fWrap: nowrap
    );
    overflow-x: auto;
    padding: 20px 10px;
    height: 100%;
    width: 100%;
  }

  .cardListFooter {
    height: 20px;
    width: 100%;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
  }
  ::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: #7c89fc;
  }
}
