.actionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  width: 100%;

  &.small {
    font-size: 10px;
    max-width: 60px;
    height: 20px;
  }
  &.medium {
    width: 90px;
    height: 30px;
  }
  &.large {
    max-width: 120px;
    height: 40px;
  }
  &.top {
    margin-top: 10px;
  }
  &.bottom {
    margin-bottom: 10px;
  }
  &.left {
    margin-left: 10px;
  }
  &.right {
    margin-right: 10px;
  }
  &.all {
    margin: 10px;
  }
  &.standart {
    margin: 0px;
  }
}
