@import "src/styles/assets/mixin.scss";

.contentWrapper {
  @include flexContent(
    $fDirection: column,
    $aItems: "",
    $jContent: "",
    $fWrap: ""
  );
  width: 100%;
  min-height: 100vh;
  .headerWrapper {
    @include flexContent(
      $fDirection: row,
      $aItems: center,
      $jContent: space-between,
      $fWrap: nowrap
    );
    width: 100%;
    min-height: 80px;
  }

  .mainContainer {
    @include flexContent(
      $fDirection: row,
      $aItems: "",
      $jContent: center,
      $fWrap: nowrap
    );
    background-color: #7f8a94;
    min-height: 100%;
    flex-grow: 1;
  }

  .footerWrapper {
    min-height: 80px;
  }
}
.userNameWrapper {
  @include flexContent(
    $fDirection: column,
    $aItems: "",
    $jContent: "",
    $fWrap: ""
  );
  flex-direction: column;
  font-size: 16px;
  font-family: "Rakkas";
  max-width: 200px;
  .userName {
    font-family: "Roboto";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
