.headerWrapper {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .downArrow {
    padding-left: 10px;
    color: white;
    position: absolute;
    right: 25px;
  }
  .headerLogo {
    font-family: "Rakkas";
    color: white;
    font-size: 20px;
  }
  .headerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    > svg {
      height: 50px;
      width: 50px;
    }
  }
  .dropdownWrapper {
    cursor: pointer;
  }
}

.userNameWrapper {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Rakkas";
  max-width: 200px;
  .userName {
    font-family: "Roboto";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.signInButton {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100px;
  text-align: center;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.signInButton:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

.signInButton:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  background-color: red;
  .mainContant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    .cardContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
      width: 100%;
      height: 100px;
      border: 1px solid black;
      border-radius: 20px;
      background-color: blueviolet;
      padding: 10px;
      .cardTitle {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        height: 10px;
        position: relative;
        > svg {
          top: -5px;
          right: 0px;
          position: absolute;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
      .cardBody {
        background-color: green;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        font-family: "Roboto";
        font-size: 12px;
        padding-top: 5px;
        .cardBodyTitle {
          font-weight: 700;
          padding-bottom: 5px;
        }
        .cardBodyDescription {
        }
      }
      .cardFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: gold;
        width: 100%;
        height: 100%;
        .cardFooterIcons {
          border: 1px solid white;
          border-radius: 50%;
        }
        .cardFooterInfo {
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          flex-direction: row;
          column-gap: 20px;
          .cardFooterSubTasks {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 5px;
            .cardFooterSubTasksNumber {
              font-weight: 600;
            }
          }
          .cardFooterHours {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 5px;
            .cardFooterSubTasksNumber {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
