@import "src/styles/assets/mixin.scss";

%cardContent {
  border-radius: 10px;
  padding: 20px;
  width: 280px;
  min-height: 80px;
  background-color: white;
  gap: 10px;
}
%svgIcons {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.mainTaskCardWrapper {
  @include flexContent(
    $fDirection: row,
    $aItems: flex-start,
    $jContent: flex-start,
    $fWrap: nowrap
  );
  height: 100%;
  padding: 20px 0 20px 40px;
  column-gap: 30px;
  .mainTaskCardContant {
    @include flexContent(
      $fDirection: column,
      $aItems: flex-start,
      $jContent: flex-start,
      $fWrap: wrap
    );
    position: relative;
    @extend %cardContent;
    .mainTaskCardTitle {
      font-family: "Roboto";
      font-weight: 700;
      position: relative;
    }
    .mainTaskCardDescription {
    }
    > svg {
      @extend %svgIcons;
      top: 15px;
      width: 20px;
      height: 20px;
    }
  }
  .mainTaskCardAddContant {
    @include flexContent(
      $fDirection: row,
      $aItems: flex-start,
      $jContent: flex-start,
      $fWrap: wrap
    );
    @extend %cardContent;
    position: relative;
    opacity: 0.5;
    &.mainTaskCardAddContantActive {
      opacity: 1;
    }
  }

  .mainTaskAddCardIcon {
    > svg {
      @extend %svgIcons;
      top: 15px;
      width: 28px;
      height: 28px;
    }
  }
}
