@import "src/styles/assets/mixin.scss";

.cardContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  .mainCollapsTable {
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    animation: border 3s infinite alternate;
    margin: 2px 0;
    .collapsTableHeader {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .collapsTableText {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .cardBodyLine {
    width: 100%;
    height: 1px;
    background-color: gray;
    position: relative;
  }

  .addSubtasks {
    @include flexContent(
      $fDirection: column,
      $aItems: space-between,
      $jContent: flex-start,
      $fWrap: nowrap
    );
    animation: addBorder 2s infinite alternate;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    .subtasakText {
      @include flexContent(
        $fDirection: row-reverse,
        $aItems: center,
        $jContent: center,
        $fWrap: nowrap
      );
    }
    > .subtasakText > svg {
      width: 25px;
      height: 25px;
    }
  }
  .subtaskButtonContainer {
    @include flexContent(
      $fDirection: row,
      $aItems: center,
      $jContent: space-between,
      $fWrap: nowrap
    );
  }
}

@keyframes border {
  0% {
    border-color: blue;
  }
  50% {
    border-color: aqua;
  }
  100% {
    border-color: aquamarine;
  }
}

@keyframes addBorder {
  0% {
    border-color: pink;
  }

  50% {
    border-color: palevioletred;
  }
  100% {
    border-color: paleturquoise;
  }
}
